.canvasContainer {
    width: 50%;
    height: 100%;
    border-radius: 0;
    overflow: hidden;
    box-shadow: 5px 0 15px -5px var(--shadow-color);
    border-right: 1px solid var(--border-color);
    transition: width 0.3s ease;
    background: var(--canvas-bg);
    position: relative;
}

.canvas {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}