.canvasContainer {
    width: 50%;
    height: 100%;
    border-radius: 0;
    overflow: hidden;
    box-shadow: 5px 0 15px -5px var(--shadow-color);
    border-right: 1px solid var(--border-color);
    transition: width 0.3s ease;
    background: var(--canvas-bg);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.canvas {
    width: 100%;
    display: block;
    cursor: grab;
    touch-action: none;
}